<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<style>
    .fieldError {
        border-color: #bd2130;
    }
</style>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <table class="table">
        <tr>
            <th>학년</th>
            <td th:text="${groups.grade.name}"></td>
        </tr>
        <tr>
            <th>이름</th>
            <td th:text="${groups.name}"></td>
        </tr>
        <tr>
            <th>상태</th>
            <td th:text="${groups.status}"></td>
        </tr>
        <tr>
            <th>소속 학생</th>
            <td>
                <p th:each="groupMember: ${groupMembers}">
                    <span th:text="${groupMember.memberName}"></span>
                    <a
                        href="#delete"
                        class="btn btn-sm btn-danger"
                        th:attr="onclick=|deleteGroupMember(${groupMember.groupsId}, ${groupMember.memberId})|">삭제</a>
                </p>
                <form th:action="@{/groups/{id}/members (id=${groups.id})}" method="post" onsubmit="return createGroupMember();">
                    <select name="memberId">
                        <option value="">선택하세요</option>
                        <option th:each="member: ${notInMembers}" th:value="${member.id}" th:text="${member.name}"></option>
                    </select>
                    <button type="submit" class="btn btn-sm btn-primary">추가</button>
                </form>
            </td>
        </tr>
    </table>
    <div style="text-align: right;">
        <a class="btn btn-sm btn-dark" href="#edit" th:href="@{/groups/{id}/edit (id=${groups.id})}">수정</a>
        <a class="btn btn-sm btn-warning" href="#edit" th:attr="onclick=|deleteGroups(${groups.id})|">삭제</a>
        <a class="btn btn-sm btn-info" th:href="@{/groups}">목록</a>
    </div>
    <br/>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
<script>
    function deleteGroups(id) {
        const form = document.createElement('form');
        const method = document.createElement('input');

        method.type = 'hidden';
        method.name = '_method';
        method.value = 'DELETE';
        form.action = `/groups/${id}`;
        form.method = 'post';

        form.appendChild(method);
        document.body.appendChild(form);
        form.submit();
    }

    function deleteGroupMember(groupsId, memberId) {
        const form = document.createElement('form');
        const method = document.createElement('input');

        method.type = 'hidden';
        method.name = '_method';
        method.value = 'DELETE';
        form.action = `/groups/${groupsId}/members/${memberId}`;
        form.method = 'post';

        form.appendChild(method);
        document.body.appendChild(form);
        form.submit();
    }

    function createGroupMember() {
        const target = event.target;
        if (!target.memberId.value) {
            alert('추가할 학생을 선택해 주세요.');
            return false;
        }
    }
</script>
</body>
</html>