<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Academy</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div class="jumbotron"> <h1>Academy</h1>
        <p class="lead">학생 기능</p> <p>
            <a class="btn btn-lg btn-secondary" th:href="@{/members/new}">학생 등록</a>
            <a class="btn btn-lg btn-secondary" th:href="@{/members}">학생 목록</a></p>
        <p class="lead">선생님 기능</p> <p>
            <a class="btn btn-lg btn-secondary" th:href="@{/teachers/new}">선생님 등록</a>
            <a class="btn btn-lg btn-secondary" th:href="@{/teachers}">선생님 목록</a></p>
        <p class="lead">학년 기능</p> <p>
            <a class="btn btn-lg btn-secondary" th:href="@{/grades/new}">학년 등록</a>
            <a class="btn btn-lg btn-secondary" th:href="@{/grades}">학년 목록</a></p>
        <p class="lead">반 기능</p> <p>
            <a class="btn btn-lg btn-secondary" th:href="@{/groups/new}">반 등록</a>
            <a class="btn btn-lg btn-secondary" th:href="@{/groups}">반 목록</a></p>
        <p class="lead">과목 기능</p> <p>
            <a class="btn btn-lg btn-secondary" th:href="@{/subjects/new}">과목 등록</a>
            <a class="btn btn-lg btn-secondary" th:href="@{/subjects}">과목 목록</a></p>
        <p class="lead">시험분류 기능</p> <p>
            <a class="btn btn-lg btn-secondary" th:href="@{/testTypes/new}">시험분류 등록</a>
            <a class="btn btn-lg btn-secondary" th:href="@{/testTypes}">시험분류 목록</a></p>
        <p class="lead">성적 기능</p> <p>
            <a class="btn btn-lg btn-secondary" th:href="@{/results/new}">성적 등록</a>
            <a class="btn btn-lg btn-secondary" th:href="@{/results}">성적 목록</a></p>
        <!--<a class="btn btn-lg btn-dark" href="#">검정버튼</a>-->
        <!--<a class="btn btn-lg btn-info" href="#">청록버튼</a>-->
    </div>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
 